@tailwind base;
@tailwind components;
@tailwind utilities;

.ring-online {
  @apply ring-primary;
  --p: 139 47% 44%;
}

.ring-idle {
  @apply ring-primary;
  --p: 38 96% 54%;
}

.ring-dnd {
  @apply ring-primary;
  --p: 359 83% 59%;
}

.ring-offline {
  @apply ring-primary;
  --p: 214 10% 50%;
}

.card.image-full::before {
  background-color: hsl(218 18% 12% / var(--tw-bg-opacity));
}

.blog-post {
  padding: 0 20px;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5;
  padding-top: 20px
}

.blog-post h1 {
  font-size: 32px;
}

.blog-post img {
  width: 100%;
  height: auto;
}

.blog-post figure {
  margin-left: 0;
  margin-right: 0;
}

.blog-post figcaption {
  opacity: 0.6;
}

